<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Teko:700" rel="stylesheet">
    <!--link rel="icon" href="../../favicon.ico"-->

    <title>{% block title %}Build-Zeitung{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('build/global.css') }}" rel="stylesheet">
    <link href="{{ asset('build/app.css') }}" rel="stylesheet">
</head>

<body>

{% block navbar %}
    {% include '@App/navbar.html.twig' %}
{% endblock %}

{% block flash_messages %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% endblock %}

{% block content %}{% endblock %}
<hr>
<footer>
    <p>&copy;  2017 Coding Berlin</p>
</footer>


{% block javascripts %}
<script src="{{ asset('build/manifest.js') }}"></script>
<script src="{{ asset('build/vendor.js') }}"></script>
{% endblock %}

</body>
</html>
