<h2>Upcoming Meetups</h2>
{% for event in events %}
    <h2>{{ event.meetupGroup.name }}</h2>
    <p>{{ event.venueName }}: ({{ event.venueAddress }})</p>
    <p>{{ event.time|date }}</p>
    <a href="{{ event.link }}" class="btn btn-default" target="_blank">zum Event</a>
{% endfor %}