<div class="row">
    <div class="col">
    <h2 class="section-header mb-4">Upcoming Meetups <small>{{ range.from|date('d.m.Y') }} - {{ range.to|date('d.m.Y') }}</small></h2>
    <table class="table table-sm no-border">
    {% for event in events %}
        <tr class="{{ event.past ? 'muted' }}">
            <td>{{ event.meetupGroup.name }}</td>
            <td><a href="{{ event.link }}" target="_blank">{{ event.time|date('D d.m.Y H:i') }}</a></td>
            <td><a data-toggle="tooltip" title="{{ event.venueAddress }}">{{ event.venueName }}</a></td>
        </tr>
    {% endfor %}
    </table>
    </div>
</div>