<h2>Upcoming Meetups</h2>
<table class="table table-sm">
{% for event in events %}
    <tr>
        <td>{{ event.meetupGroup.name }}</td>
        <td><a href="{{ event.link }}" target="_blank">{{ event.time|date('D d.m.Y H:i') }}</a></td>
        <td><a data-toggle="tooltip" title="{{ event.venueAddress }}">{{ event.venueName }}</a></td>
    </tr>
{% endfor %}
</table>

<p>Hier gelistete Gruppen
<ul class="list-inline pull-left">
    {% for group in groups %}
        <li><a href="//www.meetup.com/{{ group.urlname }}" target="_blank">{{ group.name }}</a></li>
    {% endfor %}
</ul>
</p>
