<section class="meetup container">
    <h2 class="section-header mb-4">Upcoming Meetups <small>{{ range.from|date('d.m.Y') }} - {{ range.to|date('d.m.Y') }}</small></h2>
    <table class="table table-sm no-border">
    {% for event in events %}
        <tr class="{{ event.past ? 'muted' }}">
            <td>{{ event.meetupGroup.name }}</td>
            <td><a href="{{ event.link }}" target="_blank">{{ event.time|date('D d.m.Y H:i') }}</a></td>
            <td><a data-toggle="tooltip" title="{{ event.venueAddress }}">{{ event.venueName }}</a></td>
        </tr>
    {% endfor %}
</table>
</section>

<section class="section-banner section-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Hier gelistete Gruppen</h3>
                <ul class="list-inline">
                    {% for group in groups %}
                        <li class="list-inline-item">
                            <a href="//www.meetup.com/{{ group.urlname }}" target="_blank">{{ group.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="row">
                <div class="col">
                    {{ form_start(form, {attr: {class: 'form-inline'} }) }}
                    {{ form_widget(form.url) }}
                    {{ form_widget(form.submit, {'attr': {'class': 'btn-primary' } } ) }}
                    {{ form_end(form) }}

                </div>
            </div>
        {% else %}
            {% include '@App/components/_login_hint.html.twig' with { 'login_hint': 'to submit a new meetup group'} %}
        {% endif %}
    </div>
</section>